.container{
    width: 100%;
    height: 729px;
    /* background-color: rgb(248, 177, 177); */
    background-image: url("../image/bg-login3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-panel{
     height: 450px;
    width: 300px;
    /* border: 1px solid red; */
    border-radius: 20px 0px 0px 20px;
    background-image: url("../image/logo-img3.png");
    background-size: cover;
}
.subcontainer{
    width: 450px;
    height: 450px;
    background-color: rgba(213, 207, 207, 0.578);
    /* margin-top: 150px; */
    border-radius:0px 20px 20px 0px;
    display: flex;
    justify-content: center;
}
.head{
    color: rgb(244, 128, 128);
    margin-top: 70px;
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.gmail{
    color:  rgb(244, 128, 128);
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 60px;
}
.password{
    color:  rgb(244, 128, 128);
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}
.input1{
    margin-left: 42px;
    outline: none;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;

}
.input2{
    outline: none;
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
}
.btn{
    color: white;
    width: 75px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    background-color: rgb(248, 177, 177);
    margin-top: 30px;
    margin-left: 130px;
    border: none;
    box-shadow:2px 2px 2px 2px rgb(142, 133, 133);

    
}
.btn:hover{
    /* background-color: green; */
    cursor: pointer;
    /* color: white; */
}
.subcontainer:hover{
    /* background-color: aqua; */
    cursor: pointer;
    /* box-shadow: 5px 5px 7px 7px rgb(160, 149, 149); */
}
.input1:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px  rgb(244, 128, 128);
}
.input2:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px  rgb(244, 128, 128);
}
.error{
    color: red;
    height: 10px;
    margin-left: 130px;
}