/* .bar{
    width: 100%;
    height: 100px;
    background-color: rgb(248, 177, 177);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home{
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-right: 20px;
}
p{
    font-size: 25px;
}
.logo{
    margin-left: 20px;
}
.searchbar{
    width: 450px;
    height: 30px;
    border-left: none;
    outline: none;
}
.searchicon{
    background-color: white;
    width: 30px;
    height: 32px;
    border: 2px solid black;
    border-right: none;
    
}

.search{
    display: flex;
    
}
.image{
    width: 70px;
}

.hom:hover{
    cursor: pointer;
    font-weight: bold;
}
.about:hover{
     cursor: pointer;
    font-weight: bold;
}
.product:hover{
     cursor: pointer;
    font-weight: bold;
}
.contact:hover{
     cursor: pointer;
    font-weight: bold;
} */

.navbar {
  height: 70px;
  background-color: #f7b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-logo img {
  width: 42px;
  height: 42px;
}

.nav-logo span {
  font-size: 20px;
  font-weight: bold;
}


.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu span {
  font-size: 16px;
  cursor: pointer;
  position: relative;
}


.nav-menu span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background-color: #000;
  /* /* transition: 0.3s; */
} 

.nav-menu span:hover::after {
  width: 100%;
}

.nav-logout {
  width: 40px;
  height: 40px;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.nav-logout:hover {
  background-color: #f29a9a;
}

/* .nav-logout {
  font-size: 22px;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
 
}

.nav-logout:hover {
  background-color: #f29a9a;
} */

/* Responsive */
/* @media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
} */
.nav-two {
  display: flex;
  align-items: center;
  gap: 40px;
}
