.a1{
    background-color: rgb(247, 223, 223);
    width: 100%;
    height: 100%;
   

}
.a10{
    text-align: center;
}
.a2{
    width: 100%px;
    display: flex;
    justify-content: space-around;
    
    
    
}
.a3{
    margin-left: 40px;
    margin-top: 25px;
}

.a4{
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.a5{
   margin-top: 25px;
    margin-left: 160px;
    margin-right: 100px;
    font-size: 20px;
    

}
.a6{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.a7{
    width: 700px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 20px;
}
.a8{

}
.a9{
    width: 500px;
    height: 300px;
    margin-left: 70px;
    margin-top: 80px;
    border-radius: 10px;
}