.thankyou{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
        background-color: rgb(247, 223, 223);


    
}
.thank{
    font-size: 40px;
    
    
 } 
 .thank-box {
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.thank-btn {
  width: 140px;
  height: 45px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  background-color: #f7b2b2;
  /* color: #ff; */
  /* font-size: 15px; */
  cursor: pointer;
}


.thank-btn:hover {
  background-color: #fba9a9;
}