.footer {
  background-color: #f7b2b2;
  color: #333;

}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 40px 60px;
}

.footer-box h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-box p,
.footer-box li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box li:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.social-icons svg {
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  padding: 15px;
  background-color: #f29a9a;
  font-size: 14px;
}
