    .display-wrapper{
        background-color: rgb(247, 223, 223);
        display: flex;
        justify-content: center;
        width: 100%;
    }
.display{
    width: 95%;
    background-color: rgb(247, 223, 223);
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
        /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    padding: 30px;
     box-sizing: border-box;
}
.card-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
  
}
.prod{
    border: 1px solid #eea3a3;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 24px;
}
.prodbox{
    /* width: 100%; */
    /* width: 300px;
    height: 400px; */
    /* background-color: rgb(248, 177, 177); */
   display: flex;
    justify-content: center !important;
    border-radius: 7px;
    /* box-shadow: 5px 3px 3px 3px rgb(238, 163, 163); */
}
.img2{

    width: 250px;
    height: 300px;
    border-radius: 5px;

}
.pname{
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
}
.nprice{
    font-size: 15px;
    text-align: center;
    margin: 0px;

}
.buy2{
    width: 100%;
        text-align: end;
}
.buynow{
    background-color:rgb(243, 136, 136) ;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    
}
.buynow:hover{
    /* background-color: rgb(243, 89, 38); */
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(244, 128, 128);
    color: white;
}
